$black: #333;
$blackTitle: #494949;
$white: #fff;
$blue: #e5ecfd;
$green: #5bdc0f;
$nobel: #999;
$hoverBg: #6b60f5;
$profileColor: #10cbe3;
$productName: #f5bb1e;
$boderColor: #cdd4e3;
$touchRed: #FC5924;
$reddishPink: #fb6d83;
$lightBackground: #f6f6f6;
//op
$torchRed: #f82346;
$lemon: #ffda10;
$wildBlueYonder: #8191ba;
$suva-grey: #8c8c8c;
$echo-blue: #a5b1c8;
$lavender-blue: #d0ddff;
$cerulean-blue: #362bc1;
$cerulean-blue-sidebar: #3c30d9;
$cerulean-blue-stat: #5a4fe5;
$searchListSplitter: rgba(223, 221, 255, 0.5);
$campaignCard-disabled-bgColor: rgba(255, 255, 255, 0.8);
$popupbgColor: rgba(255, 255, 255, 0.5);
$loaderbgColor: rgba(255, 255, 255, 0.7);
$cusAccInfoBorder: rgba(255, 255, 255, 0.6);
$cardHoverBg: rgba(110, 117, 141, 0.9);
$portage: #7f93d5;
$mountain-meadow: #0fbb8b;
$light-slate-blue-c: #7a6ffe;
$medium-slate-blue: #5f52ee;
$quartz: #D1DBF2;
$regalBlue: #243360;
$rockBlue: #929ebe;
$slateGrey: #687391;
$lavender: #f2f5fc;
$bisque: #FFEEBF;
$aliceBlue: #f5f8ff;
$pinkbg: #feeaeb;
$lightgreen: #d9ffe5;
$light-blue-bg: #f2eeff;
$corner-right: #5b50e6;
$headerBefore: #7b70fe;
$border-color: $boderColor;
$goldenrod: #d09207;
$alertbackground: #ff9300;
// colors variables
$todayStatsArrow: $portage;
$account-overview-flipBgColor: $cerulean-blue;
$login-page-gradient-btn: #7c71ff,
    #3c30d9;
$account-overview-gradient: $account-overview-flipBgColor,
    $portage;
$commentsPopupGradient: $medium-slate-blue,
    #7369ea;
// Box Shadow
$login-page-boxShadow: rgba(167, 183, 227, 0.16);
$dashboard-boxShadow: rgba(205, 214, 237, 0.55);
$sidebar-boxShadow: rgba(154, 182, 248, 0.33);
$sidebar-menu-boxShadow: rgba(199, 193, 199, 1);
$campaignCard-boxShadow: #d0d9f2;
$campaignCard-hover-boxShadow: #c3d0f2;
$account-locked-boxShadow: rgba(120, 167, 255, 0.26);
$action-taken-boxShadow: rgba(200, 216, 247, 0.81);
$time-zone-boxShadow: rgba(200, 216, 247, 0.81);
$actions-boxShadow: #c3d0f2;
$action-details-boxShadow: #DFE6F8;
$table-boxShadow: rgba(219, 216, 219, 1);
$comments-popup-boxShadow: #2b21af;
$calender-boxShadow: #d7e0f4;
$dss-boxShadow: rgba(0, 0, 0, 0.08);
$miscellaneous-boxShadow: rgba(120, 167, 255, 0.2);
$notes-boxShadow: rgba(148, 158, 191, 0.3);
$notes-pin-boxShadow: #d1dcf5;
$notes-flag-boxShadow: #9f9f9f;
// croner bg color 
$font-color-dark: #243360;
$font-color-light: #929ebe;
$font-grey-light: #65729f;
$grey-bg: #9db6ff;
$disabled-color: #c5c9d9;
$approve-bg: #daffd3;
$approve-color: #3bc424;
$pending-bg: #ffe0b2;
$pending-color: #fd8b00;
$rejected-bg: #ffd3d3;
$rejected-color: #f56663;
$partial-bg: #ddd5fc;
$partial-color: #6c49fc;
$reassigned-bg: #cee3ff;
$reassigned-color: #2487ff;
$reinitiated-bg: #ddd5fc;
$reinitiated-color: #6c49fc;